.pos .pos-topheader .driver-button {
    float: right;
height: 48px;
padding-left: 16px;
padding-right: 16px;
border-right: 1px solid rgb(41, 41, 41);
border-left: 1px solid rgb(41, 41, 41);
line-height: 24px;
text-align: center;
cursor: pointer;
background: rgb(138, 138, 138) none repeat scroll 0% 0%;
color: white;
font-weight: bold;
}

.dialog-popup-driver {
    background-color: #fdfdff;
z-index: 100001;
position: fixed;
left: 100px;
top: 20px;
right: 100px;
bottom: 20px;
opacity: .95;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
text-align: center;
min-height: 93px;
min-width: 398px;
overflow: auto;
}

.form-group {
    text-align: center;
    margin: 10px;
}

.form-control{
    font-size: 21px;
width: 97%;
margin: 10px;
}

.driver-label-class{
    font-size: 22px;
}
.list-of-drivers * {margin: 0; padding: 0;}

.list-of-drivers div {
  margin: 20px;
}

.list-of-drivers ul {
  list-style-type: none;
  width: 100%;
}

.list-of-drivers h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.list-of-drivers li img {
  float: left;
  margin: 0 15px 0 0;
}

.list-of-drivers li p {
  font: 200 12px/1.5 ;
}

.list-of-drivers li {
  padding: 10px;
  overflow: auto;
}

.list-of-drivers li:hover {
  background: #eee;
  cursor: pointer;
}

.dialog-popup-driver-overlay{
    position: fixed;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
top: 0px;
left: 0px;
}